* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  border: 5px solid rgb(17, 25, 187);
  margin: 41px 41px;
  padding: 15px 15px;
  /* TODO: Add a margin property */
  /* TODO: Add a padding property */
  /* TODO: Add a border property */
}
